#app {
    margin: 0 auto;
    padding: 20px 20px 0px 20px;
  
}
.ant-page-header {
    margin-bottom: 30px !important;
}
a {
  margin-right: 10px;
}

.center {
  display: inline-block;
  position: absolute;
  top: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
}
.z90000 {
  z-index: 9000;
}
.hide {
  display: none;
}
.button-wrapper {
  position: fixed;
  bottom: 110px;
}
.button-wrapper .ant-btn{
  margin-right: 20px;
}
.ant-radio-wrapper-checked {
  text-decoration: line-through;
}